@CHARSET "ISO-8859-1";

/* FOR ALL SECTIONS */

.half-width{
	width:40%;
	float:left;
	color: white;
	padding: 0 5%;
}

.full-width{
	width:100%;
	color: white;
}

h1, h2, h3, h4{
	margin: 0 auto;
	color: white;
	text-align: center;
	padding-top: 20px;
}

.centerText{
	text-align: center;
}

/* HEADER SECTION */

.top{
	background-image: url("images/fatbike2.jpg");
	height: 350px;
	margin: 0 auto;
	border-bottom: solid #912636 5px;
}

#toptitle{
	font-family: verdana, Sans-serif;
	font-size: 30px;
	text-align:center;
 	padding-top:50px; 
	color:white;
	margin: 0 auto;
	width: 20%;
	float: left;
}

/* MAIN SECTION */

.mainSection{
	height:400px;
	background-color: #3b3b3b;
	margin: 0 auto;
}

.searchBoxes{
	margin-top:20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

#drops{
	width: 175px;
}

/* FOOTER SECTION */

.bottom{
	height:250px;
	background-color: #912636;
	margin: 0 auto;
}

.admin{
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 110px;
}

.commentsTitle{
	padding-top: 85px;
}

.comments{
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 15px;
}

#copyright {
    text-align: center;
    clear:all;
    padding-top: 20px;
}

/* JSP PAGES */

.jspTop{
	background-image: url("images/mountain-bike-med.jpg");
	background-image: cover;
	height: 300px;
	margin: 0 auto;
}

.jspBottom{
	height:500px;
	background-color: #3b3b3b;
	margin: 0 auto;
}

.commentArea{
	margin-top: 50px;
	text-align: center;
}

.commentSubmit{
	margin-top: 20px;
	color: black;
	text-align: center;
}
.jspTables{
	color: white;
	padding-top: 50px;
}










 