@CHARSET "ISO-8859-1";

/* FOR ALL SECTIONS */

p{
	padding-top:20px;
	padding-bottom:40px;
	text-align:left;
}
#buttons{
	padding-top:30px;
}
#traillist{
	padding-left:20%;
	text-align:left;
}
.h3extrasjsp{
	text-decoration:underline;
	padding-left:15%;
	text-align:left;
	color:white;
}
.blacktext{
	color:black;
}

/* LANDING PAGE */
.top{
	background-image: url("images/fatbike2.jpg");
	height: 350px;
	margin: 0 auto;
}
.mainSection{
/* 	height:500px; */
	background-color: #3b3b3b;
	margin: 0 auto;
	color: white;
	padding-bottom:5%;
}
.h3extraslanding{
	text-decoration:underline;
	padding-left:15%;
	text-align:center;
	color:white;
}
#dropDowns{
	width: 175px;
}
.bottom{
	height:250px;
	background-color: #efefef;
	margin: 0 auto;
}
.bottomTitles{
	padding-top: 5%;
	color:black;
}
.admin{
	margin: 0 auto;
	text-align: center;
	padding-top: 2%;
	color:black;
}
.comments{
	margin: 0 auto;
	text-align: center;
	padding-top: 2%;
	color:black;
}
#copyright {
    text-align: center;
    clear:all;
    padding-top:2%;
    color:black;
}

/* JSP PAGES */
.jspTop{
	background-image: url("images/mountain-bike-med.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-color:#3b3b3b;
	height: 300px;
	margin: 0 auto;
}
.jspMain{
	background-color:#3b3b3b;
	margin:0 auto;
	padding-bottom:100px;
	color:white;
}
#jspTYCommentPage{
	background-color:#3b3b3b;
	margin: 0 auto;
	height: 350px;
}
.jspInputTextArea{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
	color:white;
}
.parkTitle{
	font-size: 18px;
	text-decoration: underline;
	padding: 10px;
}
#webBackground{
	background: #225fa8;
	color: white;
}
.trailTitle{
	text-decoration: underline;
	padding-top: 10px;
}







 