@CHARSET "ISO-8859-1";

/* FOR ALL SECTIONS */

.half-width{
	width:40%;
	float:left;
	color: white;
	padding: 0 5%;
}

.full-width{
	width:100%;
	color: white;
}

.white{
	color:white;
}

h1, h2, h3, h4{
	margin: 0 auto;
	color: white;
	text-align: center;
	padding-top: 20px;
} 

p{
	color: white;
}

.centerText{
	text-align: center;
}

/* LANDING PAGE HEADER SECTION */

.top{
	background-image: url("images/fatbike2.jpg");
	height: 350px;
	margin: 0 auto;
	border-bottom: solid #912636 5px;
}

#toptitle{
	font-family: verdana, Sans-serif;
	font-size: 30px;
	text-align:center;
 	padding-top:50px; 
	color:white;
	margin: 0 auto;
	width: 20%;
	float: left;
}

/* LANDING PAGE MAIN SECTION */

.mainSection{
	height:400px;
	background-color: #3b3b3b;
	margin: 0 auto;
}

.searchBoxes{
	margin-top:20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

#dropDowns{
	width: 175px;
}

/* LANDING PAGE FOOTER SECTION */

.bottom{
	height:250px;
	background-color: #912636;
	margin: 0 auto;
}

.admin{
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 110px;
}

.commentsTitle{
	padding-top: 50px;
	padding-bottom:25px;
}

.comments{
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 15px;
}

#copyright {
    text-align: center;
    clear:all;
    padding-top: 80px;
}

/* JSP PAGES */

.jspTop{
	background-image: url("images/mountain-bike-med.jpg");
	background-image: cover;
	height: 300px;
	margin: 0 auto;
}

.jspMain{
	background-color:#3b3b3b;
	margin: 0 auto;
	padding-bottom: 100px;
}

#jspTYCommentPage{
	background-color:#3b3b3b;
	margin: 0 auto;
	height: 350px;
}


.jspInputTextArea{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
	color:white;
}

.jspTables{
	color: white;
	margin-top: 25px;
}

.parkTitle{
	font-size: 18px;
	text-decoration: underline;
	padding: 10px;
}

#webBackground{
	background: #225fa8;
	color: white;
}
.tdthirty{
	width:30%;
}
.tdseventy{
	width:70%;
}
td{
	line-height:24px;
}
.trailTitle{
	text-decoration: underline;
	padding-top: 10px;
}







 